flows.json
[
    {
        "id": "caa7edc451bdca23",
        "type": "tab",
        "label": "Upstream",
        "disabled": false,
        "info": ""
    },
    {
        "id": "9129beb0babcc0c8",
        "type": "comment",
        "z": "caa7edc451bdca23",
        "name": "WARNING: please check you have started this container with a volume that is mounted to /data\\n otherwise any flow changes are lost when you redeploy or upgrade the container\\n (e.g. upgrade to a more recent node-red docker image).\\n  If you are using named volumes you can ignore this warning.\\n Double click or see info side panel to learn how to start Node-RED in Docker to save your work",
        "info": "\nTo start docker with a bind mount volume (-v option), for example:\n\n```\ndocker run -it -p 1880:1880 -v /home/user/node_red_data:/data --name mynodered nodered/node-red\n```\n\nwhere `/home/user/node_red_data` is a directory on your host machine where you want to store your flows.\n\nIf you do not do this then you can experiment and redploy flows, but if you restart or upgrade the container the flows will be disconnected and lost. \n\nThey will still exist in a hidden data volume, which can be recovered using standard docker techniques, but that is much more complex than just starting with a named volume as described above.",
        "x": 350,
        "y": 80,
        "wires": []
    },
    {
        "id": "9e6e05945ba92594",
        "type": "mqtt in",
        "z": "caa7edc451bdca23",
        "name": "",
        "topic": "#",
        "qos": "2",
        "datatype": "utf8",
        "broker": "067c2d7e08c5e5c7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 380,
        "wires": [
            [
                "ca71bc34801529a2"
            ]
        ]
    },
    {
        "id": "ca71bc34801529a2",
        "type": "function",
        "z": "caa7edc451bdca23",
        "name": "function 1",
        "func": "const topic = String(msg.topic || \"\");\n\n// Uplink: Local Edge telemetry z_# -> Cloud shared topic user_admin/gh_alpha/z_#\nif (topic.startsWith(\"z_\")) {\n    const topicParts = topic.split('/');\n    const metricName = topicParts[topicParts.length - 1];\n    const allowedTelemetry = [\"temp\", \"humidity\", \"soil\", \"pump_status\"];\n    if (!allowedTelemetry.includes(metricName)) return null;\n\n    const rawValue = parseFloat(msg.payload);\n    if (isNaN(rawValue)) return null;\n\n    let unit = \"\";\n    if (metricName === \"temp\") unit = \"Cel\";\n    else if (metricName === \"humidity\" || metricName === \"soil\") unit = \"%RH\";\n    else if (metricName === \"pump_status\") unit = \"boolean\";\n\n    const senml = {\n        bn: \"user_admin/gh_alpha/\" + topic + \"/\",\n        e: [\n            {\n                n: metricName,\n                u: unit,\n                v: rawValue,\n                t: Math.floor(Date.now() / 1000)\n            }\n        ]\n    };\n\n    msg.payload = senml;\n    msg.topic = \"user_admin/gh_alpha/\" + topic;\n    return [msg, null];\n}\n\n// Downlink: Cloud command/config user_admin/gh_alpha/z_#/r_#/(pump|config...) -> Local z_#/r_#/(pump|config...)\nconst commandMatch = topic.match(/^user_admin\\/gh_alpha\\/(z_[^/]+)\\/(r_[^/]+)\\/pump$/);\nif (commandMatch) {\n    const zPart = commandMatch[1];\n    const rPart = commandMatch[2];\n    msg.topic = `${zPart}/${rPart}/pump`;\n    msg.payload = String(msg.payload ?? \"TOGGLE\");\n    return [null, msg];\n}\n\nconst configMatch = topic.match(/^user_admin\\/gh_alpha\\/(z_[^/]+)\\/(r_[^/]+)\\/config(?:\\/(.*))?$/);\nif (configMatch) {\n    const zPart = configMatch[1];\n    const rPart = configMatch[2];\n    const configSuffix = configMatch[3];\n    msg.topic = configSuffix ? `${zPart}/${rPart}/config/${configSuffix}` : `${zPart}/${rPart}/config`;\n    if (typeof msg.payload !== \"string\") {\n        msg.payload = JSON.stringify(msg.payload);\n    }\n    return [null, msg];\n}\n\nreturn null;",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 380,
        "wires": [
            [
                "973ffac5499d59f5",
                "9c703cd2539593f1"
            ],
            [
                "d67e8cf8d078d130",
                "9c703cd2539593f1"
            ]
        ]
    },
    {
        "id": "973ffac5499d59f5",
        "type": "mqtt out",
        "z": "caa7edc451bdca23",
        "name": "",
        "topic": "",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "1b83fe86f95f93a2",
        "x": 690,
        "y": 380,
        "wires": []
    },
    {
        "id": "9c703cd2539593f1",
        "type": "debug",
        "z": "caa7edc451bdca23",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 480,
        "wires": []
    },
    {
        "id": "7c794d764f46bdde",
        "type": "mqtt in",
        "z": "caa7edc451bdca23",
        "name": "",
        "topic": "user_admin/gh_alpha/#",
        "qos": "1",
        "datatype": "utf8",
        "broker": "1b83fe86f95f93a2",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 320,
        "wires": [
            [
                "ca71bc34801529a2"
            ]
        ]
    },
    {
        "id": "d67e8cf8d078d130",
        "type": "mqtt out",
        "z": "caa7edc451bdca23",
        "name": "",
        "topic": "",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "067c2d7e08c5e5c7",
        "x": 690,
        "y": 320,
        "wires": []
    },
    {
        "id": "067c2d7e08c5e5c7",
        "type": "mqtt-broker",
        "name": "Fog Local Broker",
        "broker": "fog-local-broker",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "1b83fe86f95f93a2",
        "type": "mqtt-broker",
        "name": "Cloud Remote Broker",
        "broker": "cloud-remote-broker",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]